body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 0px;
  width: 80%;
  margin-left: 10%;
}

.app_logo {
  height: 65px;
}

nav {
  display: flex;
}

input {
  width: 35%;
  height: 20px;
  margin-top: 12px;
  margin-left: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  padding: 10px 40px 10px 15px;
  border-radius: 4px;
}

.nav_p {
  margin-left: 400px;
  margin-top: 28px;
}

.signin_button {
  font-size: 12px;
  margin-left: 24px;
  height: 27px;
  margin-top: 24px;
  padding: 5px 20px;
  background-color: crimson;
  color: whitesmoke;
  border: none;
  border-radius: 7px;
}

.bars {
  margin-top: 25px;
  margin-left: 14px;
  font-size: 24px;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(232, 204, 204, 0.125);
  margin-top: -5px;
  height: 30px;
  align-items: center;
}

/* Styling for the unordered list inside each navitem */
.navitems_1 ul,
.navitems_2 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navitems_1 {
  margin-left: 134px;
}

.navitems_2 {
  margin-right: 134px;
}

.items-1 {
  padding: 0px 10px;
  font-size: 17px;
}

.items-2 {
  padding: 0px 10px;
  font-size: 14px;
}

.ad {
  background-color: rgba(128, 128, 128, 0.2);
}

.ad img {
  width: 100%;
  padding: 10px 0px;
}

h2 {
  display: inline-block;
}

.see_all {
  display: inline-block;
  color: gray;
  margin-top: 25px;
}

.movie_card {
  display: flex;
  justify-content: space-between;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.movies {
  margin-top: 30px;
  margin-bottom: 50px;
}

.movie_pic {
  height: 360px;
  width: 220px;
  border-radius: 10px;
}

.movie_name {
  margin-top: 7px;
  font-size: 20px;
}

.movie_type {
  margin-top: -15px;
  font-size: 17px;
  color: grey;
}

.ad_image {
  padding: 10px 0px;
}

.event_image {
  width: 90%;
  border-radius: 7px;
}

.premiere {
  background-color: #2b3149;
}

.premiere_image {
  width: 12%;
  margin-top: 28px;
  margin-left: -40px;
}

.premiere_heading {
  display: inline-block;
  font-size: 28px;
  color: white;
  position: relative;
  bottom: 37px;
  right: 25px;
}
.premiere_para {
  font-size: 16px;
  color: white;
  position: relative;
  bottom: 78px;
  left: 80px;
}

.heading_3 {
  color: white;
  font-size: 17px;
  font-weight: 400;
  margin-top: -17px;
}

.trending {
  background-color: #ffffff;
  padding: 0px 40px 0px 15px;
  display: inline-block;
  margin-right: 14px;
  border: 1px solid rgba(128, 128, 128, 0.196);
}

.trend_heading {
  font-size: 17px;
  color: palevioletred;
  padding: 0px;
}

.trend_category {
  font-size: 17px;
  color: grey;
  margin-top: -20px;
}

.trend {
  margin-bottom: 20px;
}

.footer1 {
  background-color: rgba(35, 32, 32, 0.197);
  margin-top: 40px;
  height: 80px;
}

.footer_heading {
  color: white;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

.footer_para {
  color: white;
  font-size: 18px;
  display: inline-block;
}

.footer_button {
  background-color: rgb(233, 45, 77);
  color: white;
  font-size: 16px;
  padding: 12px 18px;
  margin-left: 220px;
  border-radius: 7px;
}

.footer2 {
  background-color: rgb(30, 28, 28);
  margin-top: -40px;
  padding-bottom: 25px;
}

.footer2_heading {
  color: rgba(185, 174, 174, 0.489);
  font-size: 16px;
}

.footer2_para {
  color: rgba(185, 174, 174, 0.493);
  font-size: 13px;
}

.footer_div {
  margin-top: 50px;
}

footer {
  background-color: rgb(15, 14, 14);
  
}

.sample {
  margin-top: 40px;
}

.footer_image {
  height: 80px;
}

.image_div {
  position: relative;
  bottom: 50px;
  padding: 0px 20px;
}

hr {
  background-color: grey;
  height: 0.5px;
  border: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.app_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: rgba(255, 245, 245, 0.29);
  margin: 0px 12px;
}

.app_icons:hover {
  background-color: white;
}

img:hover {
  cursor: pointer;
}
